{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ],
    "react",
    "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
      "presets": [["env"], "react", "stage-0"]
    }
  }
}
